<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 狸小路 | 產品介紹
        link(rel="stylesheet", href="style.css")
    body
        include nav.pug

        include footer.pug